/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/pail
/storage/app/afip/*
/storage/app/**/*.key
/storage/app/**/*.crt
/storage/app/**/*.csr
/storage/app/**/*.p12
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.viewer
/.zed
/*.zip
/*.sql
*.key
*.crt
*.csr
*.p12
